.room{
    width: 100%;
    height: 100vh;
    display: flex;

    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.lit{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}